bumpversion==0.6.0
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.4
tox==3.20.0
coverage==5.3
Sphinx==3.3.1
twine==3.2.0
pytest==6.1.2
pytest-runner==5.2
pytest-benchmark==3.2.3
autopep8==1.5.4
autoflake==1.4