Sphinx==3.3.1
autoflake==1.4
autopep8==1.5.4
bumpversion==0.6.0
coverage==5.3
flake8==3.8.4
pytest-benchmark==3.2.3
pytest-mock==3.3.1
pytest-runner==5.2
pytest==6.2.2
tox==3.23.0
tqdm==4.54.0
twine==3.2.0
watchdog==0.10.3
wheel==0.35.1
