Sphinx==3.5.3
autoflake==1.4
autopep8==1.5.5
bumpversion==0.6.0
coverage==5.5
flake8==3.8.4
pytest-benchmark==3.2.3
pytest-mock==3.5.1
pytest-runner==5.3.0
pytest==6.2.2
tox==3.23.0
twine==3.3.0
tqdm==4.60.0
watchdog==2.1.1
wheel==0.36.2